@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<section id="users">
    <div class="container">
		@await Html.PartialAsync("Partials/Components/_UserList", Model.Users)
    </div>
</section>