* {
    box-sizing: border-box;
}

:root {
    --text-color: #000000;
    --background-color: #ffffff;
}

html, body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.wrapper {
    align-items: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media (width >= 768px) {
        max-width: 720px;
    }

    @media (width >= 992px) {
        max-width: 960px;
    }

    @media (width >= 1400px) {
        max-width: 1320px;
    }
}

header {
    margin-bottom: 2rem;
}

header, footer {
    background-color: hotpink;
    color: #FFD5EA;
    font-size: 3rem;
    font-weight: bold;
    padding: 3rem 0;
    text-align: center;
}

.user-list-item + .user-list-item {
    border-top: 1px dashed #cdcdcd;
}

.user-list-item {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
}

.user-list-item:last-of-type {
    margin-bottom: 2rem;
}

.email {
    color: dimgray;
    font-weight: 400;
}