@model List<string>

<div class="item-list">

	@if (!Model.Any())
	{
		<div>No items found</div>
	}
	else
	{
		@foreach (var item in Model)
		{
			<div class="item">
				@item
			</div>
		}
	}

</div>